<!DOCTYPE html>
<html>
<head>
	<title>Cow Duck</title>
</head>
<body>
	<h1>The Cow Duck goes mooquack...</h1>
	<p>You walk over to the cow duck - perplexed by such an odd creature...</p>
	<p>The cow duck approaches with a waddle...</p>
	<p>Suddenly it transforms into your grandmother who has prepared an amazing meal!!</p>
	<p>You eat the food and fall into a food coma... never to save the princess who is eaten by the dragon before you wake...</p>
	<p><a href="/">Play again?</a></p>
</body>
</html>