<!DOCTYPE html>
<html>
<head>
	<title>Yellow Duck</title>
</head>
<body>
	<h1>The yellow duck? How original...</h1>
	<p>You approach the yellow duck, when suddenly you hear the sound of a trap beneath your foot!</p>
	<p>A poison dart flies acrross the room which you evade with your lightning fast reflexes - startling the duck which turns and bites your knee-cap</p>
	<p>You are now limping...</p>
	<p><a href="/">Leave room?</a></p>
	<p><a href="/cow_duck">Try luck with cow duck?</a></p>
</body>
</html>